<li [ngClass]="{
              'list-group-item' : true,
              'list-group-item-success': postLoveIts > 0,
              'list-group-item-danger': postLoveIts < 0 }">
  <h4>{{ postTitle }}</h4>
  <p>{{ postContent }}</p>
  <p style="position:absolute; 
  top: 10px; 
  right: 20px; 
  color: grey;
  font-style: oblique;
  font-weight: bold">{{ postCreatedAt | date: "short" }}</p>
  <button class="btn btn-success" (click)="onLoveIt()">Love it!</button>
  <button class="btn btn-danger" (click)="onDontLoveIt()">Don't love it!</button>

</li>